### Directory access control 
## Allows you to avoid unwanted php-tests run for example in python pjoject dir
# DIR_CONTROL=disabled                  # disabled by default
## If DIR_CONTROL is enabled consider project dir name 'php-some-project' as allowed
# USE_DIR_PREFIX=disabled               # disabled by default